<% if @random_question.nil? %>
You've answered all the questions.

<% else %>
<form action="<%= question_answer_url(@random_question) %>" method="post">
<%= auth_token_input %>
<%= @random_question.text %><br>
<% @random_question.answer_choices.each do |answer_choice| %>
<input type="hidden" name="response[question_id]" value="<%= @random_question.id %>">
<label><input type="radio" name="response[answer_choice_id]" id="answer_answer_choice_id" value="<%= answer_choice.id %>"><%= answer_choice.text %></label><br>
<!-- need to add user_id and question_id -->
<% end %>
<br>
What you prefer on match:
<br>
<% @random_question.answer_choices.each_with_index do |answer_choice, index| %>
<input type="checkbox" name="acceptable_response[<%= index %>][answer_choice_id]" value="<%= answer_choice.id %>"><%= answer_choice.text%></label><br>

<% end %>

<br>
How important is this to you?
<br>
<!-- <input type="hidden" name="all_acceptable_response[question_id]" value="<%= @random_question.id %>"> -->
<label><input type="radio" name="all_acceptable_response[importance]" value="0" checked>Irrelevant</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="1">A little important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="10">Important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="50">Very important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="250">Mandatory</label><br>

<input type="Submit" value="Answer question">
</form>

<% end %>



<hr>

<h1> Answered Questions</h1>

<%= "You have not answered any questions." if @answered_questions.length == 0 %>

<% @answered_questions.each do |question| %>
<p>
<%= question.question_text %>
<br>
<%= question.answer_text %>
<%= link_to "Edit response", question_edit_answer_url(question.question_id) %>
</p>
<% end %>
