<form action="<%= question_answer_url(@question) %>" method="post">
<%= auth_token_input %>
<%= @question.text %><br>
<% @question.answer_choices.each do |answer_choice| %>
<input type="hidden" name="response[question_id]" value="<%= @question.id %>">
<label><input type="radio" name="response[answer_choice_id]" id="answer_answer_choice_id" value="<%= answer_choice.id %>"><%= answer_choice.text %></label><br>
<!-- need to add user_id and question_id --> 
<% end %>
<br>
What you prefer on match:
<br>
<% @question.answer_choices.each_with_index do |answer_choice, index| %>
<input type="checkbox" name="acceptable_response[<%= index %>][answer_choice_id]" value="<%= answer_choice.id %>"><%= answer_choice.text%></label><br>

<% end %>






ANSWER CHOICE: NO			IMPORTANCE		QUESTION ID		USER ID
ANSWER CHOICE: YES    IMPORTANCE		QUESTION ID   USER ID


<br>
How important is this to you?
<br>
<!-- <input type="hidden" name="all_acceptable_response[question_id]" value="<%= @question.id %>"> -->
<label><input type="radio" name="all_acceptable_response[importance]" value="0">Irrelevant</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="1">A little important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="10">Important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="50">Very important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="250">Mandatory</label><br>

<input type="Submit" value="Answer question">
</form>
