<form action="<%= user_messages_url(user_id) %>"
  class="create-pm" method="post">
<li class="object-item group">
  <div class="object-avatar">

  </div>

  <section class="object-content">

      <%= auth_token_input %>
      <label>
        <textarea name="message[body]"
          placeholder="Spit some game!">
        </textarea>
      </label>
    </section>


</li>
<input type="submit" value="Send message">
</form>



