<div class="content-4of7">
  <h1> Conversation with <%= @other_username %></h1>
  <% @messages.each do |message| %>



  <ul class="objects-list">

    <li class="object-item group">
      <div class="object-avatar">

      </div>
      <section class="object-content">

          <a class="username" href="#"><% author = message.is_sent? ? current_user.username : @other_username %>
        </a>
        <div class="status-body">
          <b><%= author %></b>: <%= message.body %>

        </div>

        <div class="status-timestamp">
          <%#= status.created_at %>
        </div>
      </section>
    </li>
  </ul>

  <% end %>

      <%= render "form", user_id: params[:user_id] %>


</div>