<% @messages.each do |message| %>
<p>
<b>Message with <%= message.recipient_username %>: </b><%= message.body %> <%= "(Sent by me)" if message.is_sent == "t" %>
<br>
<%= message.sent_date %><br>

</p>




<% end %>

