<h1> Your profile </h1>

<form action="<%= profile_url(@profile.id) %>" enctype="multipart/form-data" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="_method" value="PUT">

  Username: <b><%= current_user.username %></b><br>

  <label>Zip code
    <input type="text" name="profile[zip_code]" value="<%= @profile.zip_code%>"></label>
    <%= @profile.city %>

    <br>

    Big Photo
    <input type="file" name="profile[big_photo]">
    <br>

    <label>
      Birthday
      <input name="profile[birthday]" type="date" value="<%= @profile.birthday %>"> <%= age(@profile.birthday) %>
    <label><br>

  <label>Height
    <input type="text" name="profile[height]" value="<%= @profile.height %>">
  </label><br>

<%#= profile. %>
<%#= profile. %>


  <label>Body Type
    <select name="profile[body_type]">

      <% ["", "Rather not say", "Thin", "Overweight", "Skinny", "Average", "Fit", "Jacked", "A little extra", "Curvy", "Full-figured", "Used up"].each do |option_val| %>

      <option value="<%= option_val %>" <%= "selected" if @profile.body_type == option_val %>><%= option_val %></option>
      <% end %>

    </select>
  </label><br>

  <label>Diet
    <select name="profile[diet]">

      <% ["", "Anything", "Vegetarian", "Vegan", "Kosher", "Halal", "Paleo"].each do |option_val| %>

      <option value="<%= option_val %>" <%= "selected" if @profile.diet == option_val %>>
        <%= option_val %></option>
      <% end %>

    </select>
  </label><br>

  <label>Religion
    <select name="profile[religion]">

      <% ["", "Atheism", "Christianity", "Judaism", "Catholicism", "Islam", "Hinduism", "Buddhism"].each do |option_val| %>

      <option value="<%= option_val %>" <%= "selected" if @profile.religion == option_val %>>
        <%= option_val %></option>
      <% end %>

    </select>
  </label><br>


  <label>Drugs?
    <select name="profile[drugs]">

      <% ["", "Often", "Sometimes", "Rarely", "Never"].each do |option_val| %>

      <option value="<%= option_val %>" <%= "selected" if @profile.drugs == option_val %>><%= option_val %></option>
      <% end %>

    </select>
  </label><br>



  <label>Description
    <textarea name="profile[description]"></textarea>
  </label><br>

  <label>Likes
    <textarea name="profile[likes]"></textarea>
  </label><br>

  <input type="submit" value="Save Changes">

</form>