<% content_for :right_col do %>

<%= image_tag(@profile.big_photo.url) if @profile.big_photo.exists? %>
<% end %>
Username: <%= @profile.user.username %><br>
<%= age(@profile.birthday) %> years old | <%= @profile.city %>
<br>

<% percentages = current_user.calculate_percentages(@profile.user) %>

<%= print_percentages(percentages) %>

<br>

<% ["sex", "sexual_orientation", "body_type", "smokes", "drinks", "drugs", "religion", "sign", "education", "job", "offspring", "pets", "description", "likes"].each do |descriptor| %>

<%= descriptor.capitalize %>: <%= (@profile[descriptor].nil?) ? "--" : @profile[descriptor] %><br>


<% end %>

<% if current_user.likes?(@profile.user) %>
	<% if @profile.user.likes?(current_user) %>
	<b> You guys both like each other!</b>
	<% else %>
	<b> You've liked this user already. Let's hope they like you back. </b>
	<% end %>
<% else %>
<br>
<%= button_to "Like User", like_user_url(@profile.user_id), method: :post %>

<% end %>

<br>

<%= link_to "Message User", conversation_user_messages_url(@profile.user_id) %>

<br>

<h3>Questions:</h3>

<%= "This person has not answered any questions." if @other_user_responses.length == 0 %>


<% @other_user_responses.each do |other_response| %>
<p>
<%= other_response.question_text %><br>

<% current_user_response = find_response(other_response.question_id, @current_user_responses) %>

<% if current_user_response.nil? %>

Answer question <%= other_response.question_id %> to see their answer.

<% else %>

His/her response: <%= other_response.answer_text%> <b><%= "UNACCEPTABLE" if is_unacceptable?(other_response, @current_user_acceptables) %></b>
Your response: <%= current_user_response.answer_text %><b> <%= "UNACCEPTABLE" if is_unacceptable?(current_user_response, @other_user_acceptables) %></b>

<% end %>

<p>

<% end %>




<br>

