
<div  class="splash">


<div style="width: 1000px; margin: 0 auto">
<h1 class="username" style="text-align: right; margin-bottom: 60px; font-size: 64px">OKCupid + Tinder<br>= Ralph-Date</h1>
<%= auth_token_input %>



<form action="<%= session_url%>" class="signup" method="post" style="margin-right: 30px">


  <label>

    <input type="text" id="login-username" name="user[username]" placeholder="Username">
  </label>

  <label>

    <input type="password" id="login-password" name="user[password]" placeholder="Password">
  </label>

  <input type="submit" value="Sign In">

  <button id="demo-acct" style="margin-top: 20px; background-color: #663399; color: #FFF; width: 100%">Employers: Demo</button>

</form>

<script>
$(document).ready(function() {
  $('#demo-acct').on('click', function(e) {
    $('#login-username').val('demo');
    $('#login-password').val('password');

    setTimeout(function() {
      $('.signup').submit();
    }, 2000);
  });
});
</script>

</div>
</div>