<% content_for :head do %>

<style>

body.splash {
  background-image: image-url("splash_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 55px;
}

</style>

<% end %>
<div  class="splash">


<div style="width: 1000px; margin: 0 auto">
<h1 class="username" style="text-align: right; margin-bottom: 60px; font-size: 64px">OKCupid + Tinder<br>= Ralph-Date</h1>
<%= auth_token_input %>



<form action="<%= session_url%>" class="signup" method="post" style="margin-right: 30px">


  <label>

    <input type="text" name="user[username]" placeholder="Username">
  </label>

  <label>

    <input type="password" name="user[password]" placeholder="Password">
  </label>

  <input type="submit" value="Sign In">
</form>
</div>
</div>