<h1>Sign In</h1>

<form action="<%= session_url%>" method="post">
  <%= auth_token_input %>

  <label>
    Username
    <input type="text" name="user[username]">
  </label>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Sign In">
</form>