<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token_input %>

  <label>
    Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <label>
    Birthday
    <input name="profile[birthday]" type="date">
  <label>
    Zip code
    <input type="text" name="profile[zip_code]">
  </label>

  <input type="submit" value="Sign Up">
</form>
