<form action="<%= users_url %>" class="signup" method="post">
  <%= auth_token_input %>

  <h1 class="page-title">
    Sign Up
  </h1>

  <label for="username">
    <input type="text" name="user[username]" value="<%= @user.username %>" placeholder="Username">
  </label>

  <label for="password">
    <input type="password" name="user[password]" placeholder="Password">
  </label>

  <label for="email">
    <input type="email" name="user[email]" value="<%= @user.username %>" placeholder="Email">
  </label>

  <label for="birthday">
    <input type="text" id="birthday-display" placeholder="Date of Birth">
  </label>
  <input type="hidden" name="profile[birthday]" id="birthday-real">

  <label for="zip_code">
    <input type="text" name="profile[zip_code]" placeholder="Zip Code">
  </label>

  <input type="submit" value="Sign Up">
</form>

<script>
  $(function() {
    $( "#birthday-display" ).datepicker({defaultDate: '-21y', altFormat: "yy-mm-dd", altField: '#birthday-real'});
    $( "#anim" ).change(function() {
      $( "#birthday-display" ).datepicker( "option", "showAnim", "fadeIn" );
    });
  });
</script>
