



<form action="<%= users_url %>" class="signup" method="post">
  <h1 class="page-title">Sign Up</h1>
  <%= auth_token_input %>
  <label for="Birthday">
    <input name="profile[birthday]" type="date"></label>

  <label for="Username">
    <input type="text" name="user[username]" value="<%= @user.username %>" placeholder="Username">
  </label>

  <label for="Password">
    <input type="password" name="user[password]" placeholder="Password">
  </label>

  <label for="Email">
    <input type="email" name="user[email]" value="<%= @user.username %>" placeholder="Email">
  </label>


  <label for="zip_code">
    <input type="text" name="profile[zip_code]" placeholder="Zip Code">
  </label>

  <input type="submit" value="Sign Up">
</form>
