/* line 5, ../../app/assets/stylesheets/profiles.css.scss */
.hidden-from-self {
  display: none;
}

/* line 9, ../../app/assets/stylesheets/profiles.css.scss */
.owner-can-modify {
  display: inline;
}

/* line 13, ../../app/assets/stylesheets/profiles.css.scss */
.form-input {
  display: none;
}

/* line 17, ../../app/assets/stylesheets/profiles.css.scss */
.modifying > .owner-can-modify {
  display: none;
}

/* line 21, ../../app/assets/stylesheets/profiles.css.scss */
.modifying > .form-input {
  display: inline-block;
}

/* line 26, ../../app/assets/stylesheets/profiles.css.scss */
.unacceptable-resp {
  font-weight: bold;
  color: red;
}

/* line 30, ../../app/assets/stylesheets/profiles.css.scss */
img.profile-avatar {
  display: block;
  border-radius: 5px 5px 0px 0px;
}

/* line 35, ../../app/assets/stylesheets/profiles.css.scss */
.main-profile-container {
  width: 538px;
  margin-top: 45px;
  padding: 30px 20px 20px 20px;
  float: left;
  background: rgba(255, 255, 255, 0.8);
}

/* line 43, ../../app/assets/stylesheets/profiles.css.scss */
h1.username {
  font-size: 4.3em;
  font-weight: bold;
  color: #F18A73;
}

/* line 49, ../../app/assets/stylesheets/profiles.css.scss */
.big-ass-photo {
  z-index: -1;
  display: block;
  position: absolute;
  left: 25%;
  top: 0;
}

/* line 59, ../../app/assets/stylesheets/profiles.css.scss */
.photo-thumbnail {
  width: 64px;
  height: 64px;
}
