/* line 9, ../../app/assets/stylesheets/questions.css.scss */
.response-show {
  display: block;
}

/* line 13, ../../app/assets/stylesheets/questions.css.scss */
.response-edit {
  display: none;
}

/* line 17, ../../app/assets/stylesheets/questions.css.scss */
.edit-on > .response-show {
  display: none;
}

/* line 21, ../../app/assets/stylesheets/questions.css.scss */
.edit-on > .response-edit {
  display: block;
}
