<% profiles = Profile.suggest_six(current_user) %>

<% unless profiles.blank? %>
  <div class="suggested-users group" align="center">
    <h3>Near You </h3>

    <% profiles.each do |profile| %>
      <div class="object-avatar"
        style="float: left; width: 91px; height: auto; padding-left: 2px; padding-right: 2px; padding-bottom: 2px; margin: auto">
        <a href="<%= profile_url(profile) %>">
          <%= display_photo(profile, :avatar) %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>