<div class="suggested-users group" align="center">
  <h3>Near You </h3>
<% profiles = Profile.suggest_six(current_user) %>

<% profiles.each do |profile| %>
<div class="object-avatar" style="float: left; width: 30%; height: auto; padding: 2px; margin: auto">
<a href="<%= profile_url(profile) %>"><%= display_photo(profile, :avatar) %> </a>
</div>

<% end %>

</div>

