<form>

<% question = response.question %>

<% response.question.text %>

<% answer_choices = question.answer_choices %>

<% answer_choices.each do |answer_choice| %>
<label><input type="radio" name="response[answer_choice_id]" value="<%= answer_choice.id %>"
  <%= "checked" if answer_choice.id == @response.answer_choice_id %>>
  <%= answer_choice.text %>
</label><br>

<% end %>

What you prefer on match:
<br>
<% answer_choices.each_with_index do |answer_choice, index| %>
<input type="checkbox" name="acceptable_response[<%= index %>][answer_choice_id]" value="<%= answer_choice.id %>"><%= answer_choice.text%></label><br>

<% end %>


<label><input type="radio" name="all_acceptable_response[importance]" value="0">Irrelevant</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="1">A little important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="10">Important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="50">Very important</label><br>
<label><input type="radio" name="all_acceptable_response[importance]" value="250">Mandatory</label><br>


<input type="submit" value="Edit your response">
