<div class="content-4of7">

  <% if @status_messages.blank? %>

  There are no status messages to display.

  <% end %>

<ul class="objects-list" id="status-msg-list">
  <%= render partial: "status_message", collection: @status_messages%>
</ul>


</div>
<div class="content-1of7">
</div>
<div class="content-2of7">
  <div class="update-status-message">
    <div class="object-avatar">

    </div>
    <form action="<%= status_messages_url %>" method="post" data-remote="true" id="post-status-form">
    <textarea placeholder="Say hi to the world!" class="group" name="status_message[body]"></textarea>
    <input type="submit" value="I want to scream and shout!">
  </form>
  </div>


  <%= render partial: "shared/suggested_users" %>
  <!-- expands when clicked -->
</div>

<script>

  $('#post-status-form').on('ajax:success', function(e,d) {
    $('#status-msg-list').html(d);
    $("#post-status-form textarea").val("");
    /* Put flash success here */
  });

</script>