<div class="content-4of7">

<% @status_messages.each do |status| %>
<ul class="objects-list">






  <li class="object-item group">
    <div class="object-avatar">

    </div>
    <section class="object-content">
      <a class="username" href="<%= profile_url(status.p_id) %>">
        <%= status.username %>
      </a>
      <div class="status-body">
        <%= status.body %>

      </div>

      <div class="status-timestamp">
        <%= status.created_at %>
      </div>
    </section>
  </li>
</ul>
<% end %>

</div>
<div class="content-1of7">
</div>
<div class="content-2of7">
  <div class="update-status-message">
    <div class="object-avatar">

    </div>

    <textarea placeholder="Say hi to the world!" class="group"></textarea>
    <input type="submit" value="I want to scream and shout!">
  </div>
  <!-- expands when clicked -->
</div>


