<style>
</style>

<% content_for :secondary_header do %>


<nav class="sec-right-nav" style="background-color: blue">
  <ul class="group enlargement-links">
    <li><a></a></li>
    <li><a href="#" class="message">Message</a></li>

    <li><i class="sec-nav-button change-settings" id="like-button">Notifications</i></li>

    <li><i class="sec-nav-button change-settings" id="dislike-button">Notifications</i></li>

<% end %>




blah blah blah
