/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.fileupload-ui
 */

.sec-header button.change-settings {
  padding: 10px;
}

.sec-header .profile-switch {
  padding: 14px;
}

.enlarge-photo {
  height: 50px;
  width: 50px;
}

.flash {
  background-color: #FFF;
  padding: 16px;
  margin-top: 16px;
  text-align: center;

  max-width: 952px;
  margin: 0 auto;

}

.sig-message {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mini-question-container {
  margin-bottom: 16px;
}











.profile-placeholder {
  color: red;
  font-weight: bold;
}


.fixed-at-top {
  position: fixed;
  top: 0;
  z-index: 500;
  left: 50%;
  opacity: .9;
  margin-left: -500px;
}

html, body, header, nav, h1, ul, li, h2, button, input[type=text], input[type=email], select, textarea, input[type=password] {
  border: 0;
  margin: 0;

  padding: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #663399;
  cursor: pointer;
}

span.owner-can-modify {
  cursor: pointer;
}

span.owner-can-modify:hover {
  color: blue;
}





select {
  cursor: pointer;
}

input[type=email], input[type=text], select, input[type=password], button, input[type=submit] {

  /*
  This is a full reset for a button,
  making it as plain as inline text.
  From here you could move on to style
  it as a regular link, or anything
  your beautiful mind can dream up.
  */

  -webkit-appearance: none;
  display: inline;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.signup {
  width: 400px;
  margin: 0 auto;
}

#answer-question {
  display: none;
  position: fixed !important;
  top: 50px;
  padding-top: 10px;
  left: 25%;
  margin-top: -50px;
  margin-left: -50px;
    background: #666;
  width: 700px;
  height: 700px;
  padding: 10px;
  z-index: 20;
}

#answer-question.is-unhidden {
  display: block;
}




input[type=email], input[type=text], input[type=password] {
  /*display: block;*/
  background: white;
  max-height: 50px;
  border-top: 1px solid #e3e3e3;
  width: 100px;
}





button, input[type=submit] {
  background: #FFFF33;
  padding: 20px;
  cursor: pointer;
}



.signup input[type=text] {
  display: block;
  width: 100%;
  padding: 20px;
}

.signup input[type=email] {
  display: block;
  width: 100%;
  padding: 20px;
}

.signup input[type=password] {
  display: block;
  width: 100%;
  padding: 20px;
}

.signup input[type=submit] {
  width: 100%;
  color: black;
  margin-top: 5px;
}








body {
  font-size: 16px;
  background-color: #333;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;

  color: #666666;
  line-height: 1.4;
  /*color: #999;*/
  font-weight: "Light", "Helvetica Neue", "Helvetica", sans-serif;
}

.accent-white {
  color: #FFF;
}



.profile-stats {
  margin: 0 auto;
}

.profile-stats th {
  font-weight: bold;
  text-align: left;
  padding-right: 40px;
}

ul {
  list-style: none;
}

header {
  background-color: #663399;
  /* #663399 */
  border-bottom: 1px solid black;
}

header > .header-wrap {
  width: 1000px;
/*  max-width: 1468px;*/
/*  width: 100%;*/
  height: 60px;
  margin: auto;
}

.header a {
  color: #fff;
}

.header-logo {
  float: left;
}

.header-logo > a {
  display: block;
}

.header-logo > a:hover {
  background: yellow;
}

.header-nav {
  float: right;
}

.header-nav > ul > li {
  position: relative;
  float: left;
}

.header-nav > ul > li > a {
  display: block;
  padding: 19px 25px 19px 5px;
  text-decoration: none;
}

.header-nav > ul > li > a:hover {
  color: orange;
}

.sec-header {
  background: #333;
  border: 0;
  /*background-color: blue;*/ /* debug */
}

ul.enlargement-links > li > a > img {
  width: 50px;
  height: 50px;
}

.sec-header a {
  color: #FFF;
}

.sec-header-wrapper {
  width: 1000px;
/*  max-width: 1468px;*/
/*  width: 100%;*/
  height: 60px;
  margin: auto;
}

.sec-header-text {
  float: left;
}

.sec-header-text a {
  display: block;

}

.sec-left-nav > ul > li {
  float: left;
}

.sec-left-nav > ul > li > a {
  display: block;
}

.sec-right-nav {
  float: right;
}
.sec-right-nav > ul > li {
  position: relative;
  float: left;
}

.sec-header-wrapper a {
  display: block;
  color: white;
  padding: 5px 40px 5px 5px;
  text-decoration: none;
}



.content-wrap {

  width: 1000px;
/*  max-width: 1468px;*/
  margin: 24px auto;
/*  width: 100%;*/
  height: auto;
   overflow: hidden;
  /*overlow hidden?*/
}




.splash {
  background-image: image-url("splash_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

.content-half {
  float: left;
  //padding: 16px;
  width: 484px;
}

.left-half {
  padding-right: 16px;
}

.profile-view {
  padding: 16px;
  width: 468px;
}



.content-3of7 {

  float: left;
  width: 428px;
/*  width: 43%;*/

  padding-bottom: 100%;
  margin-bottom: -100%;
}

.content-4of7 {

  float: left;
  width: 571px;
/*  width: 54%;*/
  padding-left: 3%;
  padding-bottom: 100%;
  margin-bottom: -100%;

}

.content-1of7 {
  float: right;
  width: 142px;
/*  width: 15%;*/
}

.content-2of7 {
  float: right;
  width: 285px;
/*  width: 28%;*/
}


.unhide > .send-message {
  display: block;


}

.send-message > textarea {
  display: block;
  margin-top: 15px;
  outline: 0;
  border: 1px solid grey;
  width: 380px;
  padding: 10px;
  height: 160px;
}

.send-message > input[type=submit] {
  display: block;
  margin-top:20px;
  width: 100%;
  padding-left: 0;
  color: black;
  padding-right: 0;
  background-color: #FF6633;
}

.send-message-html > form.send-message * {
  display: none;
}

.send-message { /*** maybe can refactor later? ***/
  width: 100%;
  height: 100%;

  z-index: 20;
}

/***********
content {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 1000px;

}

.left-col-content {
  width: 655px;
  margin-top: 50px;
  float: left;
  background-color: white;
}

.right-col {
  width: 310px;
  margin-top: 50px;
  float: right;

}

.right-col-block {
  width: 290px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}


footer {

}



#screen {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}

.send-message > textarea {
  display: block;
  width: 520px;
  height: 200px;
}

****/


.page-title {
font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: 42px;
  text-align: center;
  margin-bottom: 2%;
  line-height: 1.2 em;
  font-weight: bold;

  color: #FF6633;
}




h2 {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02 em;
  font-weight: 300;
  line-height: 1.3;
  font-size: 33px;
}

h3 {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 2px;
}

h4 {
  font-size: 21px;
}




h1.username {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: 42px; /*4.3em*/
  line-height: 1.2;
  margin-bottom: 4px;
  font-weight: bold;
  color: #FF6633;
  /** #FF420B **/
}



ul.profiles-list {
  list-style: none;

  border-radius: 10px;

}

ul.profiles-list > li {
  width: 230px;
  height: 230px;
  background-color: white;
  float: left;
  margin: 5px;
  border-radius: 5px;
  position: relative;

}

ul.profiles-list > li > img {
  display: block;
  z-index: 1;
  height: 230px;
  width: 230px;
  border-radius: 5px;

  margin-bottom: 5px;
  /* pos relative here?*/
}

ul.profiles-list  a {
  text-decoration: none;
  font-size: 1.25em;

}

.profile-content {
  margin-left: 0px;
  z-index: 3;
  text-align: center;

  width: 225px;
  padding-left: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255,255,255,.4);
  color: #000;
  font-weight: 400;
  font-size: 13px;
}

.profile-content > a {
  color: #663399;
}

span.browse-percentages {
  font-size: 10px;
}


.big-ass-photo {
  z-index: -1;
  display: block;

  width: 100%;
  height: auto;

}


.group:after {
  clear: both;
  content: "";
  display: block;
}

.search-bar {
  min-width: 1000px;
  max-width: 1468px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  padding-top: 20px;
}

.search-bar * {
  margin: auto 0;
}

.search-bar > input[type=text], select {
  margin: 0 10px;
  display: inline-block;
  background: transparent;
  border: 0;
  color: white;
  font-weight: 700;
  border-bottom: 1px solid grey;
  text-align: center;
  width: 90px;
}

.search-bar > .block-floated {
  padding: 0 10px;
}

.search-bar > input[type=submit] {
  margin-left: 100px;
  display: inline-block;
  color: white;
  background-color: #FF6633;
  padding: 0px 30px;
}

.search-bar * {

  float: left;
}

.block-floated {
  display: block;
  float: left;
}


.object-avatar {
  padding: 0;

  border-right: 2px solidgrey;
  width: 100px;
  height: 100px;
  display: block;
  float: left;
}

.object-avatar > img {
  display: block;
}

.object-list {

  display: block;
}

.object-item {
  background-color: #FFF;
  display: block;
  padding: 16px;

  width: 80%;
  margin-left: 10px;
  margin-bottom: 24px;
}

form.create-pm textarea {
  width: 300px;

}

.create-pm > input[type=submit] {
  width: 450px;
  margin-left: 8px;
  margin-top: 2px;
  color: black;
  background-color: #FF6633;
}

.object-content {

  display: block;

  width: 300px;
  margin: 0px 0px 0px 20px;
  float: left;
}


/** ANSWER QUESTIONS QUESTIONS ANSWER RESPONSES  **/

/**** QUESTIONS ***/


.response-show {
  display: block;
}

.response-edit {
  display: none;
}

.edit-on > .response-show {
  display: none;
}

.edit-on > .response-edit {
  display: block;
}


.bio-view {

}

.questions-view {
  display: none;
}

.show-questions > .bio-view {
  display: none;
}

.show-questions > .questions-view {
  display: block;
}


.default-displayed {

}

.default-hidden {
  display: none;
}

.toggle-hide > .default-displayed {
  display: none;
}

.toggle-hide > .default-hidden { /* for display profile/questions */
  display: block;
}

.toggle-hide > .header-nav-drop-down {
  display: block;
}


.suggested-users {

  background-color: #FFF;
  padding-top: 0px;
  text-align: center;
  padding-bottom: 5px;
}





.header-nav-drop-down {
  display: none;
  position: absolute;
  left: -3px;
  z-index: 10;
  border: 3px solid #333;
  background: #fff;
  width: 300px;
}

.header-nav-drop-down > li > a {
  display: block;
  color: #333;
  padding: 5px 10px;
}

.answer-choices > input {
  display: none;

}

.answer-choices > label {
  display: block;
  background-color: #999999;
  text-align: center;
}

.answer-choices > label:hover {
  cursor: pointer;
  background-color: #333;
  color: #FFF;
  font-weight: bold;
}



.answer-choices > input[type=checkbox]:checked + label, .answer-choices > input[type=radio]:checked + label {
  background-color: #663399;
  font-weight: bold;
  color: #FFF;

}

.importances > input {
  display: none;
}

.importances label {
  display: block;
  box-sizing: border-box;
  width: 20%;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;

}

.importances label span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}



.importances  label:hover {
  cursor: pointer;
  background-color: orange;
  border: 5px solid black;
  font-weight: bold;
}

.answer-choices.big-choice label {
  padding: 8px;
}

.answer-choices.big-choice label span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.answer-choices, .importances {
  margin-bottom: 25px;
  margin-top: 5px;
}


.imp1 + label {
  background-color: rgba(102, 102, 102, .6);
  }
.imp2 + label {
  background-color: rgba(255, 255, 0, .6);
  }
.imp3 + label {
  background-color: rgba(255, 153, 0, .6);
  }
.imp4 + label {
  background-color: rgba(255, 102, 51, .6);
  }
.imp5 + label {
  background-color: rgba(204, 0, 0, .6);
  }

  .imp1 + label:hover {
    background-color: rgba(102, 102, 102, .8);
    font-weight: bold;
    }
  .imp2 + label:hover {
    background-color: rgba(255, 255, 0, .8);
    font-weight: bold;
    }
  .imp3 + label:hover {
    background-color: rgba(255, 153, 0, .8);
    font-weight: bold;
    }
  .imp4 + label:hover {
    background-color: rgba(255, 102, 51, .8);
    font-weight: bold;
    }
  .imp5 + label:hover {
    background-color: rgba(204, 0, 0, .8);
    font-weight: bold;
    }


    .imp1:checked + label {
      background-color: rgba(102, 102, 102, 1);
      border: 5px solid black;
      font-weight: bold;
      }
    .imp2:checked + label {
      background-color: rgba(255, 255, 0, 1);
      border: 5px solid black;
      font-weight: bold;
      }
    .imp3:checked + label {
      background-color: rgba(255, 153, 0, 1);
      border: 5px solid black;
      font-weight: bold;
      }
    .imp4:checked + label {
      background-color: rgba(255, 102, 51, 1);
      border: 5px solid black;
      font-weight: bold;
      }

      input.question-submit {
        display: block;
        width: 60%;
        height: 45px;
        padding: 8px;
        margin: auto;

        font-weight: bold;
        background-color: #FF6633;
        border: 1px solid black;
      }

    .imp5:checked + label {
      background-color: rgba(204, 0, 0, 1);
      border: 5px solid black;
      font-weight: bold;
      }

      #like-button {
        background: image-url("heart.png") no-repeat 0 0;
      }

      #dislike-button {
        background: image-url("reject.png") no-repeat 0 0;
      }


      input.sec-nav-button {
        padding: 0;
        cursor: pointer;
        display: block;
        float: left;
        border: 0;
        width: 50px;
        height: 0px;
        padding-top: 50px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
      }

      #like-button:hover {
        background-position: 0 -50px;
      }

      #dislike-button:hover {
        background-position: 0 -50px;
      }


.suggested-users > h3 {
 margin-top: 0;
 padding-top: 5px;
}

.update-status-message > form > textarea  {
  width: 265px;
  padding: 10px;
  outline: 0;
}

.update-status-message > form > input[type=submit] {
  width: 285px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}


div#modal-container a {
  color: #663399;
}

.swipe {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
}