/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, nav, h1, ul, li {
  border: 0;
  margin: 0;

  padding: 0;
  font: inherit;
  font-family: sans-serif;
}

ul.profiles-list {
  list-style: none;


  border-radius: 10px;

}

ul.profiles-list > li {
  width: 230px;
  height: 300px;
  background-color: white;
  padding-bottom: 10px;
  float: left;
  margin: 5px;

  border-radius: 5px;
}

ul.profiles-list > li > img {
  display: block;
  height: 230px;
  width: 230px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 5px;
}

ul.profiles-list  a {
  text-decoration: none;
  font-size: 28px;
}

.profile-content {
  margin-left: 5px;
}


.group:after {
  clear: both;
  content: "";
  display: block;
}

header {
  background-color: white;
  button-color: #E1F9EB;
  border-bottom: 5px solid #DEDFE1;
  margin-bottom: 25px;
}

header > .main-top {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
}

a {
  color: #00B5E4;
}




.main-top a {
  display: block;
  padding: 25px;
  margin-left: 10px;
  float: left;
}

.main-top input {
  float: right;
}

.main-top img {
  margin: auto 0;
  padding-top: 5px;
  display: block;
  float: left;

}


body {
  background-color: #F7F8FA;
  text-color: #373737;
  accent-color-blue: #08AAC8;
}

content {
  margin: 0 auto;
  display: block;
  width: 1000px;

}

.left-col-content {
  width: 655px;
  margin-top: 20px;
  float: left;
  background-color: white;
}

.right-col {
  width: 310px;
  margin-top: 20px;
  float: right;

}

.right-col-block {
  width: 290px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}


footer {

}
