// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-profile-container {
  width: 538px;
  margin-top: 45px;
  padding: 30px 20px 20px 20px;
  float: left;
  background: rgba(00, 00, 00, .5);
}

h1.username {
  font-size: 80px;
  font-weight: bold;
  color: #F18A73;
}

.big-ass-photo {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 25%;
  top: 0;
}

.photo-thumbnail {
  width: 64px;
  height: 64px;
}

.match-percentage {

}

img.icons {

}