// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden-from-self {
  display: none;
}

.owner-can-modify {
  display: inline;
}

.profile-edit-form {
  display: inline-block;
}

.profile-field > .form-input {
  display: none;
  border: 1px solid blue;
  color: black;
}

.modifying > .owner-can-modify {
  display: none;
}

.modifying > .form-input {
  display: inline-block;
}

textarea.form-input {
  width: 450px;
  height: 100px;
}

.unacceptable-resp {
  font-weight: bold;
  color: red;
}
img.profile-avatar {
  display: block;
  border-radius: 5px 5px 0px 0px;
}

.main-profile-container {
  width: 538px;
  margin-top: 45px;
  padding: 30px 20px 20px 20px;
  float: left;
  background: rgba(255, 255, 255, .8);
}

.photo-thumbnail {
  width: 64px;
  height: 64px;
}

section.photos {
  display: block;
  width: 100%;
  float: left;
}

section.photos > div.featured-photo {
  width: 100%;
}

.featured-photo > img {
  width: 100%;
  height: auto;
  display: block;
}

section.photos > ul.thumbnails {
  list-style: none;
  display: block;
}

ul.thumbnails > li {
  display: block;
  float: left;
  padding: 2px;
  width: 50px;
  height: 50px;
}

ul.thumbnails > li > img {
  width: 100%;
  height: 100%;
}

div.image-file-input-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

div.image-file-input-wrapper > img {
  width: 100%;
  height: auto;
  display: block;
}

ul.thumbnails div.image-file-input-wrapper > img {
  height: 50px;
}

div.image-file-input-wrapper > input[type="file"] {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

div.image-file-input-wrapper > input[type="file"]:hover {
 cursor: pointer;
}

div.image-file-input-wrapper .remove {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: -5px;
  right: -5px;
  background: red;
  z-index: 5;
}

div.image-file-input-wrapper .feature {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 0px;
  left: 0px;
  background: red;
  z-index: 5;
}

div.image-file-input-wrapper > .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  text-align: center;
  display: none;
  z-index: 3;
  overflow: visible !important;
}

div.image-file-input-wrapper.busy > .progress {
  display: block;
}

div.image-file-input-wrapper > img.spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
}

div.image-file-input-wrapper.prepping > img.spinner {
  display: block;
}

ul.thumbnails .progress {
  line-height: 50px;
}

.featured-photo .progress {
  font-size: 30px;
  line-height: 300px;
}

div.image-file-input-wrapper > .errors {
  list-style: square;
  font-size: 13px;
  display: none;
  position: absolute;
  left: 20%;
  bottom: 58px;
  width: 215px;
  border: 2px solid red;
  padding: 8px;
  background: white;
  z-index: 6;
}

.errors > .remove {
  z-index: 7;
}

.errors > .feature {
  display: none;
}

.featured-photo div.image-file-input-wrapper > .errors {
  top: -110px;
  bottom: inherit;
}

.errors > .triangle {
  position: absolute;
  bottom: -20px;
  left: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid red;
}

div.image-file-input-wrapper.errors > .errors {
  display: block;
}

ul.thumbnails > li > div {
  display: block;
}