// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden-from-self {
  display: none;
}

.owner-can-modify {
  display: inline;
}

.form-input {
  display: none;
}

.modifying > .owner-can-modify {
  display: none;
}

.modifying > .form-input {
  display: inline-block;
}


.unacceptable-resp {
  font-weight: bold;
  color: red;
}
img.profile-avatar {
  display: block;
  border-radius: 5px 5px 0px 0px;
}

.main-profile-container {
  width: 538px;
  margin-top: 45px;
  padding: 30px 20px 20px 20px;
  float: left;
  background: rgba(255, 255, 255, .8);
}





.photo-thumbnail {
  width: 64px;
  height: 64px;
}

.match-percentage {

}

img.icons {

}

.hide-container {
  width: 500px;
}
.hide-container > textarea {
  display: block;
  width: 100%;
}

.hide-container > input[type=submit] {
  display: block;
  width: 100%;
}