// Place all the styles related to the StatusMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-image {
  padding: 0;
  margin: 0px 28px 15px 28px;
  border-right: 2px solidgrey;
  width: 80px;
  height: 80px;
  background-color: magenta;
  display: block;
  float: left;
}

ul, li {
  list-style: none;
}

.username {
  font-weight: 900;
  font-size: 18px;

}

.status-messages {

  display: block;
}

.update-status {
  border: 0;
  height: 25px;
  font: inherit;
  border-bottom: 1px solid grey;
}

.status-content {

  display: block;

  padding-bottom: 10px;
  width: 475px;
  margin: 0px 00px 20px 20px;
  float: left;
}

.status-content > .status-body {
  display: block;
  margin-top: 25px;
  font-size: 16px;
  border-bottom: 2px dotted red;
}

.status-content > .status-timestamp {
  font-size: 14px;
  font-style: italic;
  display: inline-block;
  color: #ccced3;
}